<% content_for :head do %>
  
  <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;key=ABQIAAAAW5OrdClR6sTtPeIsdHKw9RQGeTdEdFvfpG-B2h2NWwe_ytiB0BQ3SYfTcCaGCedlAXmlNK1CePtzLQ"></script>
  <%= javascript_include_tag "markerclusterer" %>
  <%= javascript_include_tag "jquery.query" %>
  <%= javascript_include_tag "map" %>
  
  
<% end %>

<h2>Map</h2>
<div id="map"></div>
<div id="map-pub-listing"></div>

  
  
