<% content_for :head do %>
  
  <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;key=<%=GOOGLE_MAPS_API_KEY%>"></script>
  <%= javascript_include_tag "markerclusterer" %>
  <%= javascript_include_tag "jquery.query" %>
  <%= javascript_include_tag "map" %>
  
  
<% end %>

<h2>Map</h2>
<p id="map-status">Please wait for the map to load...</p>
<div id="map"></div>
<div id="map-pub-listing"></div>

  
  
