<h2>The Brewing Proccess</h2>
<p>
  To make beer you need to combine sugars and yeast together, the product of this is alcohol and carbon dioxide.
  To start with you need to convert the starch in the malt into sugars, You do this by <strong>Mashing</strong>. Mashing is simply putting
  the malt into warm water (around 70 degrees Celcius) for around an hour. This allows enzymes to convert the starch into sugars.
  <br/><br/>After this the water is drained (<strong>Lautering</strong>) and the spend grains are rinsed to extract any remaining
  sugars (<strong>Sparging</strong>).
  The end result of this is a sweet brown liquid know as Wort. The Wort is then boiled for anywhere between 50 minutes and 1.5 hours,
  this kills any barcteria, rids the brew of any off flavours.
  <br/><br/>Hops are added ad different stages of the boliing proccess.
  Hops added near the start of the brew add bitterness to the beer while hops added near the end give a hop aroma to the final product.
  After boiling, the beer is cooled down as fast as possible using a heat exchanger to around 20 degrees celsius, the faster the wort is
  cooled, the less change there is of an infection. Fast cooling also allows protein debris to settle properly. Oxygen is sometimes
  dissolved into the liquid at this point as it allows the yeast to reproduce at a faster rate.
		<br/><br/>The beer gets pumped into a fermentation vessel, the yeast is pitched and the beer is allowed to <strong>ferment</strong>
		
		for a few days. After this the beer
		is cooled allowing it to <strong>condition</strong>, and allow any yeast to settle. The beer is transferred into <strong>casks or bottles</strong>.
 </p>
