<h2>Camra, The campaign for real ale</h2>

<p>
  Camra stands for the <acronym title="Camra">Campaign for Real ale</acronym> and was set up in 1973 by a group of men who were fed up with drinking substandard beer.
  They decided to set up a group which they called The Campaign for the Revitalisation of Ale. After around a year, membership was on
  a sharp increase and they decided to rename the organisation to the campaign for real ale or
  <acronym title="Campaign for Real ale">Camra</acronym>, as this was a bit easier to say.
  Throughout the 1970s, <acronym title="Campaign for Real ale">Camra</acronym> battled with the big brewers who were replacing their
  real ales with bland nitro keg versions. In the 1980's
  <acronym title="Campaign for Real ale">Camra</acronym> campaigned for more beer choice in pubs resulting in the government bringing out what were known as 'Beer Orders', forcing the
  big 6 brewers to either sell or free from the tie, over 11000 pubs. From the 1990s through till now, <acronym title="Camra">Campaign for Real ale</acronym> has successfully campaigned
  for tax relief for small independent brewers as well as running many other campaigns. One of the big campaigns at the moment is to stop
  pubs selling pints that are not a full pint measure.
</p>

<h3>Camra beer festivals</h3>
<p>
  <acronym title="Campaign for Real ale">Camra</acronym> put on well over a hundred beer festivals throughout the year across the country.
  These are usually held in places like town
  halls and have a selection of between 40 and 200 beers on offer. Camra members usually gain free entry or a free drink in the beer
  festivals. Camra beer festivals are fully staffed by member volunteers.
  The <strong><acronym title="Great British Beer Festival">GBBF</acronym> (Great British Beer Festival)</strong> is held once a year at
  Earls Court in London  and is the biggest beer festival in the county with over 450 UK real ales, ciders and perries and 200 Foreign beers
  from places such as Belgium and Germany.
</p>


<% set_meta(:keywords => 'Camra, campaign for real ale, campaign', :description => 'Camra stands for the Campaign for Real ale and was set up in 1973 by a group of men who were fed up with drinking substandard beer.') %>
