%h2 Welcome to Real Ale Hunter

%h3 What Is Real Ale Hunter
%p
  Real Ale Hunter is a free interactive map and directory of real ale serving pubs based on the google maps api which allows users to add the location of any pub that sells a good selection of high qualiy of real ales. Once a pub has been added to the map a review can be written for the pub allowing the recording of which real ales are always on sale, the number of Beer Engines (Hand Pumps), and whether or not the pub is feature in Camra The Good Beer Guide

%h3 The Map
%p
  The map is by far the most useful feature. If you are planning on going to a new town you just need to zoom into the area and markers will be placed on the map for the real ale pubs that are in the area as well as a list of the pubs and addresses below. There is a printer friendly version and the ability to email a friend the map.


%h3 Ratings
%p
  Users can add a rating for any real ale pub that they have visited that asesses the quality of the real ale, how good the selection of real ales is (for instance do they have a good guest beer policy), the atmosphere, the price and your overall opinion of the pub.


%h3 Visits
%p 
  After a visit of a pub, a 'visit' can be added. Here details of whats currently happening at a pub can be added as well as the guest ales that were available on the visit. This is just a place to voice you own opinion of the pub which may change between visits. Its also handy to read other peoples visits when you are planning a pub crawl so you can see which pubs have what guest ales on. If you see that someone visited a couple of days ago and they have an ale that you like then its going to be worth popping in for a pint.


%h3 Photos
%p 
  You can view photos of pubs by clicking the camera icon on a pubs main page. You can also upload your own photos of pubs. Images over 5MB will be automatically resized.


%h3 Membership
%p
  Membership to Real Ale Hunter is free. As Real Ale Hunter is a new service, please add as many pubs with as much detail as possible. Members that have contributed a lot to the site will have their membership allowance increased. This will give you the ability to edit reviews and moderate posts etc.
  
= render :partial => 'shared/master_of_malt_advert'

