<p>If you would like to exchange links, please send an email to mail@realalehunter.co.uk</p>

	<p><a href="http://jimsbeerkit.co.uk/index.htm">Jim's Beer Kit - A website and forum about homebrewing</a></p>

	<p><a href="http://www.real-ale.net">Real-ale.net - A ISP for real ale fans</a></p>
	<p><a href="http://www.realale.com">www.realale.com</a></p>
	<p><a href="http://www.ukholiday-homes.co.uk">UK Holiday Homes (find places to stay while visiting real ale pubs)</a></p>
	<p><a href="http://www.ilkleybeerfestival.org.uk">Ilkley Beer Festival</a></p>
	<p><a href="http://www.realalepub.co.uk">Real Ale Pub - Buy mini casks for home</a></p>
	<p><a href="http://www.chandlersatshearsby.co.uk">Chandlers Arms -  Shearsby</a></p>

	<p><a href="http://www.mayfieldsbrewery.co.uk">Mayfields Brewery: Real ales from Herefordshire.</a></p>
	<p><a href="http://www.aleontap.co.uk">Ale on tap - Draught beers from Shropshire</a></p>
	<p><a href="http://myweb.tiscali.co.uk/pryer/johnindex.htm">World pub guide by John and Stuart</a></p>
	<p><a href="http://real-ale-reviews.com">Real Ale Reviews</a></p>
  <p><a href="http://www.thepubsofyork.com">The Pubs of York</a></p>
  <p><a href="http://www.adventureswithbertha.co.uk/">VW T25 Camper Van</a></p>