<h1>Pubs recommendations in Scotland from Twitter</h1>

<p>Numbers in square brackets are the number of recommendations</p>

<h2>Glasgow</h2>

<p><a href="http://www.jdwetherspoon.co.uk/home/pubs/the-counting-house-glasgow">Counting House(Wetherspoons)</a> G1 2DH [1]
<a href="http://www.threejudges.co.uk/three-judges/home/three-judges.html">Three Judges G11 6TR</a> [3]
<a href="http://www.westbeer.com/">West Brewery G40 1AW</a> [1]
<a href="http://www.bonaccordweb.co.uk/">Bon Accord G3 7DA</a> [3]
<a href="http://www.clockworkbeercompany.co.uk/">The Clockwork</a> [1]
The State G2 4NG [2]
<a href="http://www.blackfriarsglasgow.com/">Black Friers G1 1LG</a> [1]
The Griffin G2 4JP [1]</p>

<h2>Edinburgh</h2>

<p><a href="http://kaysbar.co.uk/">Kays Bar</a> EH3 6HF [1]
Stockbridge Tap EH4 1HN [2]
Cloisters EH3 9JH [6]
Bow Bar EH1 2HH [6]
Blue Blazer EH3 9DX [3]
<a href="http://www.nicholsonspubs.co.uk/thekenilworthrosestreetedinburgh/">Kenilworth EH2 3JD</a> [1]
<a href="http://cumberlandbar.co.uk/">Cumberland EH3 6RT</a>  [2]
<a href="http://www.starbankinn.co.uk/">Starbank EH5 3BZ</a>[1]
<a href="http://www.oxfordbar.com/">Oxford Bar EH2 4JB</a> [2]
<a href="http://www.caferoyal.org.uk/">Cafe Royal EH2 2AA</a> [3]
Malt Shovel EH1 1BP [1]
<a href="http://www.guildfordarms.com/">Guilford Arms EH2 2AA</a> [2]
<a href="http://www.ryries.com/">Ryries EH12 5EY</a> [1]
<a href="http://www.bertsbar.co.uk/">Berts EH3 7NG</a> [1]
Teuchters EH3 [2]
The Regent EH7 5DL [1]
Bennets Bar EH3 9LG [1]
<a href="http://www.caskandbarrel.co.uk/">Cask and Barrel EH1 3RZ</a> [1]
<a href="http://www.royal-oak-folk.com/">Royal Oak EH1 1LT</a> [1]
Dagda EH8 9NG [1]
Sandy Bells EH1 2QH [1]</p>

<h2>Oben</h2>

<p><a href="http://www.cuanmor.co.uk/obanbaybrewery.html">Oban Bay Brewery / Cuan Moor PA34 5SD</a> [2]
Markie Dans PA34 5PN [1]
<a href="http://www.clachaig.com/">Claichaig Inn (on way to Oben in Glencoe) PH49 4HX</a> [1]</p>

<h2>Other</h2>

<p>Boat House - 16 hand pumps [1]</p>

