<h2>Real Ale Styles</h2>
<p>
  Real ale comes in many different styles, despite the misconception many have the real ale just refers to bitter. Lager can also be
  classed as real ale and is available in cask in some pubs. Below are some of the main styles of real ale.
</p>


<h3>Bitter</h3>
<p>
  
		Bitter is usually a copper colour and is the most popular style of real ale in the UK. Bitter gained popularity towards the end
		of the 19th century when breweries were buying lots of tied houses. Nowadays Bitter is available anywhere, from local pubs to high-class establishments like <a href="http://www.papillonchelsea.co.uk">papillon restaurant</a>. They gradually moved away from selling vatted beer that had to be
		stored in a cellar for months before selling to what were called running beers. These beers could be served after being stored in the
		for just a few days. Mild and Bitter both fell into this category. Bitter is usually between 3.5% and 4% with what are known as
		<strong>Best</strong> beers that fall over the 4% mark. Stronger beers seem to be the trend at the moment and some breweries are
		producing what are called Extra Strong Beers. Bitter tends to have a spicy peppery hop flavour and fruity malt flavour, the stronger
		bitters tend to have less hop flavour and are more malty although they are still quite bitter.
 </p>

<h3>Indian Pale Ale</h3>
<p>
 	Indian Pale Ales, also known as <acronym title="Indian Pale Ale">IPA</acronym> are very well hopped and are usually quite strong.
 	<acronym title="Indian Pale Ale">IPA</acronym>'s gained popularity in the early 19th century when technological developments allowed
 	breweries to create beers using pale malts to create paler beers. The high alcohol and hop content meant that the beers were preserved well
 	in their long journeys overseas. Weaker versions of the style are known as pale ales. Some breweries are brewing what they call
 	<acronym title="Indian Pale Ale">IPA</acronym>'s with quite a low alcohol content, for example Caledonian Deuchars IPA, however
 	these beers are not true to the style.
 </p>

<h3>Golden Ale</h3>
<p>
 	Golden ales are a rather new addition to the different styles of real ales. They are similar to usually well hopped and have a biscuity
 	malt flavour and are around 3.5% to 5% alcohol. They gained popularity in the 1980's as a way for breweries to try and attract younger
 	people into drinking their beers. Golden ales, are best served cool. One of the most popular golden ales is Summer Lightning by Hop
 	Back brewery and is available bottle conditioned.
 </p>

<h3>Porter</h3>
<p>
 	Porters are very dark in colour and are a slightly weaker version of stout. They became popular in the 18th century and were dark brown
 	in colour, changing to black in the 19th century. The name Porter came about because of its popularity amongst the market workers in London.
 	Porters get their colour from the roasted malts and can have flavours such as chocolate, coffee, liquorice and raisins.
 </p>

<h3>Stout</h3>
<p>
 	Stout is a stronger version of porter and is very popular in Ireland due to the success of Guinness. However the majority of Guinness served
 	in pubs is Nitrokeg dead beer. The popularity of both porters and stouts declined in England during the first world war as there was
 	restrictions on roast malt. Both styles are now gaining popularity again though now.
 </p>
<h3>Mild</h3>
<p>
 	Mild used to be the most popular beer in this country before Bitter gained popularity. Mild has a lower hop content than bitter and are usually
 	dark in colour although there are some pale versions such as Golden Best by Timothy Taylors in Keighley. The strength of Milds has declined
 	in recent years with the average strength now being around 3% - 3.5%. One of <acronym title="Campaign for Real ale">Camra</acronym>'s
 	current initiatives is to increase the popularity with there being a dedicated 'Mild month' where pubs are influenced to sell more
 	mild.
 </p>

<h3>Old Ale</h3>
<p>
 	Old ales are usually quite dark in colour although lighter versions are available. Old ales are usually stored for long periods of time
 	in unlined wooden vessels that allow them to age and pick up tannins from the wood as well as wild yeasts.
 	Some class this as stale but the style has gained with the popularity of Old Peculiar by Theakstons brewery.
 </p>
<h3>Real Lager</h3>
<p>
 	Real lager is extremely hard to find in pubs so worth trying a pint when you see it. Real lager is different from keg lager in that
 	it is served from a cask that contains live yeast and is not highly pressurised by gas canisters in the pub. One example of the style
 	is Andromeda by Elland brewery.
 </p>

<% set_meta(:keywords => 'Real ale, styles, Bitter, IPA, indian Pale ale, Golden Ale, Stout, Porter, Mild, Old Ale, Real Lager', :description => 'Real ale comes in many different styles, despite the misconception many have the real ale just refers to bitter. Lager can also be
classed as real ale and is available in cask in some pubs. Below are some of the main styles of real ale.') %>
