<h2>What is Real Ale / Cask Ale</h2>

<p>
  Real Ale also known as Cask ale is made with 3 main ingredients, <strong>Water,</strong> <strong>Barley Malt</strong> and <strong>Hops</strong> and comes
  in many different styles.
  <br/>What makes real ale different from ordinary beer is that the beer undergoes a stage of secondary fermentation which means
  there is live yeast in the ale right up until the point where you drink it. Also no artificial gasses are used in the storing or serving of
  real ale, the Carbon Dioxide produced from secondary fermentation lightly pressurises the vessel, which carbonates the brew and prevents it
  from going off.
  <br/><br/>Other (non real) beer however is usually pasteurised at the brewery, killing off the yeast which also kills of a lot of the
  flavour, making the end product rather bland.
		A common misconception by some people is that beers like Tetleys smooth and the like are real ales,
		this is untrue and these are what are called Nitro Keg beers. These kegged beers are pasteurised at the brewery
		killing any live yeast and then sealed in pressurised kegs. These have a lot longer shelf life than real ale so can be made in
		large batches and stored for a long time before needed. The trend these days is to not only inject them with carbon
		dioxide (a natural gas created by brewing beer) but also nitrogen. This makes the beer have a smooth and creamy head giving it a
		Guinness like consistence. Pubs also now like to serve these beers extra cold .These processes make the beer undrinkable.
		Large breweries do this for a number of reasons, one of the reasons is it lasts longer meaning they don't have to worry
		about stock levels and it is a lot easier to handle (pubs can have kegs of it in their cellar for a long time and then just connect the
		gas and pump to it when required.
 </p>

<h2>The difference between casks, kegs and bottles</h2>

<p>
  <strong>Casks</strong> are different from kegs in that they are not stored under pressure. When casks are delivered to a pub they are placed on a Spilage
  and the beer allowed to settle. Real ale casks contain live yeast that allow the beer to go through a stage of secondary fermentation
  right up until the point at which you drink the beer. The casks are tapped allowing a beer engine (hand pump) on the bar to draw beer
  out of the cask and to the bar. Because of the vaccuum that this would create inside the cask a wooden spile is inserted into the cask.
  This is usually a soft peg that allows a small amount of air into the cask when needed to balance the pressure. At the end of the night,
  the soft spile will be replaced with a hard spile that effectively stops gas oxygen from getting in overnight and allows a small build up
  of carbon dioxide.
  <br/><br/>
		Because oxygen enters the cask to replace the lost volume of liquid as the beer is drank the ale will go off after around 3 days.
		Some pubs make use of a device called Cask Breather. This is basically attaching a CO2 canister to the keg but at normal pressure,
		so the gas only enters the cask as liquid is withdrawn and makes up the same volume as the liquid. However Camra (the campaign for real ale)
		are against the use of this practice because it affects the beer quality. When a cask is tapped and oxygen reacts with the beer over a short
		period of time, the beer develops different flavours.
		<br/><br/>
		<strong>Kegs</strong> contain a pasteurised dead product that is stored at very high pressure, making it highly carbonated (fizzy).
		The kegs can be stored for a very long time in pub cellars and when the pub is ready to use one they just connect it to the pump on the
		bar, and their carbon dioxide/Nitrogen Dioxide tanks that keep it at the hign temperature. The pipes may also run the beer through a
		flash cooler, chilling the beer to sometimes sub zero temperatures before serving.
		
		<br/><br/>
		Real ale can also be purchased in <strong>bottles</strong>. For the bottle to be classed are 'Real Ale' it must contain a small yeast sediment in the
		bottle. This allows the ale to go through a stage of secondary fermentation in the bottle so effectively you are getting a live0
		product. Lots of the ales sold in the shops are not real ale. Camra has a scheme that allows breweries to include a logo on the bottles
		saying "this is real ale in a bottle". They also have a book on the best RAIB's (real ale in bottles).
 </p>

<br/><br/>
