%h2 Towns
= render :partial => "shared/alphabet_anchor_links" 

%p 
  - last_letter = '' 
  - @towns.each do |town|
    - unless last_letter == pub.name.upcase[0,1] 
      = %a{:name => pub.name.upcase[0,1]}
    = link_to town, town_pubs_path(town)
    %br/
