<h3>Pubs</h3>
<ul class="sidemenu">				
	<li><%= link_to "Pubs", pubs_path %></li>
  <li><%= link_to "Towns", towns_path %></li>
  <li><%= link_to "Map", map_path %></li>
  <li><%= link_to "Whats New", map_path %></li>
</ul>