<h3>Pubs</h3>

<%= link_to "Add a new pub", new_pub_path %>

<table>
	<tr>
		<th>Pub Name</th>
	</tr>
	
	<% @pubs.each do |pub| %>
		<tr>
			<td><%= link_to(pub.name, pub_path(pub)) %></td>
		</tr>
	<% end %>
	
</table>
