<% content_for :head do %>
  
  <%= javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAW5OrdClR6sTtPeIsdHKw9RQfcLyhfIqh4-VGmBjHk1PBviVtZhQa0NX48CYc6BQVurtqzGsgQPc62g" %>
  <%= javascript_include_tag "markerclusterer"%>
  <%= javascript_include_tag "map"%>
  
  
<% end %>

<h2>Map</h2>
<div id="map" style="width:600px;height:400px;"></div>

  
  
